/* $Id$ */
a:link    { color: #4444BB; }
a:visited { color: #BB4444; }
a:active  { color: #4444BB; }

body,th,td,h3,h4,h5,p,ul {
	font-family: helvetica, sans-serif;
	color: #000000;
}

p,pre,ul {
	margin: 1em 2em;
}

body {
	background-color: #AAAAEE;
}

h3,h4,h5 {
	font-size: medium;
	margin: 0em 1em;
}

.nav {
	font-weight: bold
}

a.navlink:link,a.navlink:visited {
	text-decoration: none
}

a.navlink:active,a.navlink:hover {
	text-decoration: underline
}

code {
	font-weight: bold
}

div.sidebar {
	width:12em;
	float:left;
}

div.content {
	margin-left:12em;
}

div.boxed {
	border-style:solid;
	border-width:2px;
	background-color:white;
	margin:0.5em;
	padding:0.5em;
}

div.indent {
	margin-left:1em;
}

div.warning {
	background-color:#FFCCCC;
	text-align:center;
	border-style:outset;
	border-color:red;
	margin:1em;
	padding:0.5em;
	font-weight:bold;
}

div.scroll {
	overflow:auto;
	max-height:10em;
}

div.sb_section {
	margin-top:0.5em;
	margin-bottom: 0.5em;
	padding:0.3em;
	border-left: solid 2px lightgray;
	border-top: solid 2px lightgray;
}


a.sb_section_header {
	font-size:large;
	font-weight:bold;
}

div.sb_section_content {
	margin-left:1em;
}
