/* $Id$ */
a:link    { color: #4444BB; }
a:visited { color: #BB4444; }
a:active  { color: #4444BB; }

body,th,td,h3,h4,h5,p,ul {
	font-family: helvetica, sans-serif;
	color: #000000;
	}

p,pre,ul {
	margin: 1em 2em;
	}

body {
	background-color: #AAAAEE;
	}

h3,h4,h5 {
	font-size: medium;
	margin: 0em 1em;
	}

.nav {
	font-weight: bold
	}

a.navlink:link,a.navlink:visited {
        text-decoration: none
        }

a.navlink:active,a.navlink:hover {
        text-decoration: underline
        }
